<div id="login_panel">

    <button type="button" class="mb-4" (click)="togglePanel()">CLOSE</button>

    <div *ngIf="!_auth.isUserLogin()">

        <form action="">
            <mat-button-toggle-group #toggleBtn="matButtonToggleGroup" value="connexion" (change)="mode=toggleBtn.value"
                class="mb-4">
                <mat-button-toggle value="connexion">CONNEXION</mat-button-toggle>
                <mat-button-toggle value="subscription">INSCRIPTION</mat-button-toggle>
            </mat-button-toggle-group>

            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Saisissez votre identifiant</mat-label>
                    <input matInput [formControl]="loginFormControl" placeholder="Mon identifiant">
                    <mat-error *ngIf="!loginFormControl.hasError('required')">
                        Please enter a valid login
                    </mat-error>
                    <mat-error *ngIf="loginFormControl.hasError('required') && loginFormControl.invalid">
                        Login is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Saisissez votre mot de passe</mat-label>
                    <input matInput [formControl]="passwordFormControl" placeholder="Mon mot de passe">
                    <mat-error *ngIf="!passwordFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <button *ngIf="!_auth.isUserLogin() && mode=='connexion'" type="button" (click)="onLogin()"
                class="connect_button">SE CONNECTER</button>
            <button *ngIf="!_auth.isUserLogin() && mode=='subscription'" type="button" (click)="onRegister()"
                class="connect_button">S'INSCRIRE</button>

            <p *ngIf="result=='loginFail'" class="text-dark">La connexion a échouée</p>
            <p *ngIf="result=='registerFail'" class="text-dark">L'inscription a échouée</p>
        </form>

    </div>

    <div *ngIf="_auth.isUserLogin()">
        <p class="text-success font-size-2 mt-1">Vous êtes connecté</p>
        <button *ngIf="_auth.isUserLogin()" type="button" (click)="onLogout()" class="connect_button">
            SE DECONNECTER</button>
    </div>

    <br>
    <a *ngIf="_auth.isUserLogin()" routerLink="/user-infos" (click)="togglePanel()"
        class="user-info-access link-primary font-size-2">Accéder à mes informations de compte</a>



</div>