<div class="delivery_payment_container">

    <div class="container">
        <h2>LIVRAISON & PAIEMENT</h2>

        <div class="user_infos_block">
            <h3>Vos informations</h3>
            <p>Monsieur Alexandre Grassioulet</p>
            <p>alxndr68@gmail.com</p>
        </div>


        <div class="delivery_mode_block">
            <h3>Livraison</h3>
            <div class="mondial_relay_delivery">
                <p>Livraison en Mondial Relay Offert</p>
                <p>Date de livraison estimée le lundi 20 juin</p>
                <p>Offert</p>
            </div>
            <div class="colissimo_delivery">
                <p>Livraison à domicile Colissimo</p>
                <p>Date de livraison estimée le samedi 18 juin</p>
                <p>4,95 € </p>
            </div>
        </div>

        <div class="who_and_where_delivery_block">
            <div class="delivery_picked_up_by_block">
                <h3>Colis retiré par :</h3>
                <div class="civility">
                    <span>Civilité *</span>
                </div>
                <div><input type="text" placeholder="Nom"></div>
                <div><input type="text" placeholder="Prénom"></div>
            </div>

            <div class="choice_of_pick_up_point_block">
                <h3>Choix du point de retrait</h3>
                <p>Saisissez votre code postal ou géolocalisez-vous :</p>
                <div>
                    <input type="text" placeholder="Code postal">
                    <button>RECHERCHER</button>
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
        </div>



        <div class="payment_block">
            <h3>Livraison</h3>
            <div class="mondial_relay_delivery">
                <p>Livraison en Mondial Relay Offert</p>
                <p>Date de livraison estimée le lundi 20 juin</p>
                <p>Offert</p>
            </div>
            <div class="colissimo_delivery">
                <p>Livraison à domicile Colissimo</p>
                <p>Date de livraison estimée le samedi 18 juin</p>
                <p>4,95 € </p>
            </div>
        </div>

    </div>


</div>