<footer class="pt-5">
    <div class="myfooter container">
        <p><a></a>

        <div class="footer_part1 d-flex">
            <div class="item_footer_part1 cursor-pointer">
                <h3><a routerLink="">Aide & Contact</a></h3>
                <p><a routerLink="">Nous contacter</a></p>
                <p><a routerLink="">Suivre la commande</a></p>
                <p><a routerLink="">Aide & FAQ</a></p>
                <p><a routerLink="">Mon compte client</a></p>
                <p><a routerLink="">Paiement sécurisé</a></p>
                <p><a routerLink="">Services en boutique</a></p>
                <p><a routerLink="">Recrutement & Carrières</a></p>
                <p><a routerLink="">Relations presse</a></p>
                <p><a routerLink="">Devenir affilié</a></p>
                <p><a routerLink="">Terres d'Aigle</a></p>
            </div>


            <div class="item_footer_part1 cursor-pointer">
                <h3><a routerLink="">A propos</a></h3>
                <p><a routerLink="">Notre histoire</a></p>
                <p><a routerLink="">Savoir-faire</a></p>
                <p><a routerLink="">Nos engagements</a></p>
                <p><a routerLink="">Développement durable</a></p>
                <p><a routerLink="">Guide des tailles</a></p>
                <p><a routerLink="">Bien choisir mes bottes</a></p>
                <p><a routerLink="">Guide bottes country & nature</a></p>
                <p><a routerLink="">Guide bottes Parcours</a></p>
                <p><a routerLink="">Certificats de conformité</a></p>
            </div>

            <div id="last_item_footer_part1">
                <h3>Restez connectés</h3>
                <div class="d-flex" id="email_and_logo_container">
                    <div class="d-flex" id="email_footer">
                        <input type="text" id="input_email_footer" placeholder="Votre email">
                        <button id="button_email_footer">OK</button>
                    </div>
                    <img src="../../../../assets/images/kisspng-logo-phoenix-art-5afffc96c60439.6819225615267257828111.png"
                        alt="">
                </div>
                <div id="social_medias_access" class="d-flex">
                    <a href=""><i class="fa-brands fa-facebook-square"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="d-flex" id="language_choice_footer">
                    <img src="../../../../assets/images/footer/fr.svg" alt="">
                    <span>EUR | FR</span>
                </div>

            </div>
        </div>



        <div class="footer_part2">
            <p id="copyright_footer">© 2022 Aigle - Mentions légales - CGV - Politique de confidentialité - Paramètres
                des cookies</p>
            <p>Aigle, maître caoutchoutier depuis 1853, confectionne ses bottes à la main et perpétue un savoir-faire
                unique de protection de l'homme dans la nature. Forts de cet héritage, les bottes, chaussures et
                vêtements Aigle conjuguent authenticité, style et fonction. L'exigence de qualité et le souci du détail
                sont au cœur de la conception des collections pour vous garantir un produit juste et durable.</p>
            <p>*SECOND SOUFFLE : Offre valable pour un article déposé en boutique selon conditions de reprise. Nous
                reprenons les parkas et manteaux, bottes et bottillons, pulls et polaires et sacs et bagageries. Les
                articles doivent être parfaitement fonctionnel sans pièces manquantes et ne doivent pas contenir de
                déchirures, trous, tâches ou odeurs.</p>
            <p>Aigle, responsable du traitement, met en œuvre un traitement de données à caractère personnel vous
                concernant ayant pour finalité la gestion des contacts, prospects et consommateurs.</p>
            <p>Les données collectées sont indispensables à ce traitement et sont destinées aux services concernés
                d’Aigle, ainsi que, le cas échéant, à ses sous-traitants ou prestataires.</p>
            <p>La durée de conservation de vos données est détaillée dans notre politique de confidentialité.</p>
            <p>En application de la législation en vigueur, vous disposez d’un droit d’accès, de rectification ou
                d’effacement, de limitation du traitement de vos données, d’un droit d’opposition, d’un droit à la
                portabilité de vos données ainsi que du droit de définir des directives relatives au sort de vos données
                après votre décès, qui s’exercent par courrier électronique à dataprotection@Aigle.com ou par courrier
                postal à l’attention du Service Juridique / Responsable Données Personnelles, à l’adresse suivante ZI ST
                USTRE, Ingrandes sur Vienne, CS 30755, 86107 Châtellerault cedex Paris (France). Afin d’effectuer un
                traitement sécurisé de vos demandes, Aigle vous demandera de justifier par tout moyen de votre identité.
                Si à l’occasion de cette vérification, un doute légitime subsiste, Aigle pourra vous demander de fournir
                une copie d’un titre d’identité. </p>
            <p>Vous disposez enfin du droit d'introduire une réclamation auprès d'une autorité de contrôle.</p>
            <p>Si vous êtes client Aigle, les mentions relatives au traitement des données à caractère personnel vous
                concernant sont à retrouver dans notre politique de confidentialité disponible sur le site.</p>
        </div>




    </div>

</footer>